In [14]:
# -*- coding: utf-8 -*-
import cx_Oracle
import simplejson
import pprint
import os
os.environ['NLS_LANG'] = 'SIMPLIFIED CHINESE_CHINA.UTF8'

db=cx_Oracle.connect('xir_trd/xpar@127.0.0.1:1521/xvams')
cursor=db.cursor()
sql="""SELECT T.ENTRY_ID,
       T.ENTRY_DATE,
       T.INST_ID,
       T.ACCOUNT,
       T.DEBIT_CREDIT_FLAG,
       T.VALUE
  FROM XIR_TRD.TTRD_BOOKKEEPING_ENTRY T
 WHERE T.ENTRY_DATE = '2019-07-01'
   AND T.TSK_ID = '1'
   AND T.INST_ID <> 0
   AND T.ACCOUNT = '6411030201'
"""
cursor.execute(sql)
result=cursor.fetchall()
result_json=[]
for item in result:
    # print(item) # ('61072207', '2019-07-01', 182679, '6411030201', '1', 24830.14)
    result_dict={
        'ENTRY_ID':item[0],
        'ENTRY_DATE':item[1],
        'INST_ID':item[2],
        'ACCOUNT':item[3],
        'DEBIT_CREDIT_FLAG':item[4],
        'VALUE':item[5]
    }
    result_json.append(result_dict)
pprint.pprint(simplejson.dumps(result_json))

('[{"ENTRY_ID": "61072207", "ENTRY_DATE": "2019-07-01", "INST_ID": 182679, '
 '"ACCOUNT": "6411030201", "DEBIT_CREDIT_FLAG": "1", "VALUE": 24830.14}, '
 '{"ENTRY_ID": "61072233", "ENTRY_DATE": "2019-07-01", "INST_ID": 182618, '
 '"ACCOUNT": "6411030201", "DEBIT_CREDIT_FLAG": "1", "VALUE": 55232.88}, '
 '{"ENTRY_ID": "61072251", "ENTRY_DATE": "2019-07-01", "INST_ID": 182818, '
 '"ACCOUNT": "6411030201", "DEBIT_CREDIT_FLAG": "1", "VALUE": 25512.33}, '
 '{"ENTRY_ID": "61072282", "ENTRY_DATE": "2019-07-01", "INST_ID": 181463, '
 '"ACCOUNT": "6411030201", "DEBIT_CREDIT_FLAG": "1", "VALUE": 151947.95}, '
 '{"ENTRY_ID": "61072305", "ENTRY_DATE": "2019-07-01", "INST_ID": 182816, '
 '"ACCOUNT": "6411030201", "DEBIT_CREDIT_FLAG": "1", "VALUE": 34928.22}, '
 '{"ENTRY_ID": "61072309", "ENTRY_DATE": "2019-07-01", "INST_ID": 182820, '
 '"ACCOUNT": "6411030201", "DEBIT_CREDIT_FLAG": "1", "VALUE": 6218.63}]')

In [15]:
tableColumn=[
    {'prop': 'ENTRY_ID',          'lable': '分录号',   'width':180},
    {'prop': 'ENTRY_DATE',        'lable': '凭证日期', 'width':180},
    {'prop': 'INST_ID',           'lable': '指令号',   'width':180},
    {'prop': 'ACCOUNT',           'lable': '科目代码', 'width':180},
    {'prop': 'DEBIT_CREDIT_FLAG', 'lable': '借贷方向', 'width':180},
    {'prop': 'VALUE',             'lable': '金额',     'width':180}
]
pprint.pprint(tableColumn)

[{'lable': '分录号', 'prop': 'ENTRY_ID', 'width': 180},
 {'lable': '凭证日期', 'prop': 'ENTRY_DATE', 'width': 180},
 {'lable': '指令号', 'prop': 'INST_ID', 'width': 180},
 {'lable': '科目代码', 'prop': 'ACCOUNT', 'width': 180},
 {'lable': '借贷方向', 'prop': 'DEBIT_CREDIT_FLAG', 'width': 180},
 {'lable': '金额', 'prop': 'VALUE', 'width': 180}]